body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  margin-left: auto;
  margin-right: auto;
  width: 76rem;
}

.list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(99, 99, 102);
  border-radius: 30px;
  line-height: 20px;
}

.list ul>li {
  display: block;
  float: left;
  margin: 30px;
  color: white;
  font-size: 20px;
}


.grid-container{
  display: grid;
  padding: 10px;

}

.grid-item {
  padding: 20px;
  grid-column: span 4;
}

hr{
  max-width: 90%;
}